{% extends 'base.html.twig' %}
{% block title %}Unauthorized Access{% endblock %}
{% block stylesheets %}
<link href="{{ asset( '/assets/css/main.css') }}" rel="stylesheet">

{% endblock %}
{% block body %}
    <h3>Unauthorized Access</h3>
{% endblock %}

